.red {
  color: red;
}

.green {
  color: green;
}

.parent {
  text-align: center;
  padding: 20px 0;
  width: 90%;
  margin-left: 5%;
  background: rgb(203, 202, 228);
  overflow-wrap: break-word;
}