.normalText {
  padding: 20px;
  font-size: 20px;
}

.parent {
  display: grid;
  grid-template-columns: 100px 10fr 100px;

  justify-content: space-between;
}

.content {

}

.sidepanelParent {
  background: rgba(248,249,250,0.99);
}

.rightSidePanel {
  background: rgba(248,249,250,0.99);
}

.selectedTopic {
  background: rgba(75, 70, 95, 0.52);;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #090909;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidepanel {
  display: none;
  height: 100vh;
  width: 200px;
  background-color: #f7f8f9;
  padding-top: 60px; /* Place content 60px from the top */
}

.sidepanel .normalTopic {
  margin-left: 20px;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #090909;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.sidepanel .normalTopic:hover {
  background: rgba(75, 70, 70, 0.41);
}

/* Position and style the close button (top right corner) */
.closebtn {
  margin: -60px 0 20px 0;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openbtn {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  background-color: #f7f8f9;
  color: #323232;
  padding: 10px 15px;
  border: none;
}



.tooltip_text {
  font-size: 14px;
  user-select: none;
  background: #f7f8f9;
  border-radius: 5px;
  left: 105%;
  margin-top: -5px;
  opacity: 0;
  position: absolute;
  transition: .6s;
  padding: 5px 20px;
  border-top-right-radius: 0;
}



.normalTopic:hover > .tooltip_text {
  opacity: 1;
}
